[build]
# Perintah build tetap sama
command = "docker build -t railway ."

[deploy]
# Kita ganti npx dengan docker run langsung
# --privileged dan --pid=host WAJIB untuk systemd
startCommand = "docker run --privileged --pid=host --rm railway"
